
<aside class="main-sidebar"  ng-if="isAuthenticated()" >
	<section class="sidebar">

    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
			 <img src="{{userImage}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{{username}}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> <span translate="global.menu.online">Online</span></a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" ng-switch="isAuthenticated()" has-authority="ROLE_ADMIN">
        <li class="treeview" id="administration" ng-switch-when="true">
            <a  ng-click="setActive('administration')">
                <i class="fa fa-dashboard"></i> <span translate="global.menu.admin.main">Administration</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" ng-click="setMenuToActive()" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>
                            &#xA0;<span translate="global.menu.admin.user-management">User management</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="tracker" data-toggle="collapse" ng-click="setMenuToActive()" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-eye-open"></span>
                                &nbsp;<span translate="global.menu.admin.tracker">User tracker</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse" ng-click="setMenuToActive()" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse" ng-click="setMenuToActive()" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse" ng-click="setMenuToActive()" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" ng-click="setMenuToActive()" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" ng-click="setMenuToActive()" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" ng-click="setMenuToActive()" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
                       <!--  <li ng-hide="inProduction"><a href='/console' target="_tab" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-hdd"></span>
                            &#xA0;<span translate="global.menu.admin.database">Database</span></a></li> -->
            </ul>
        </li>
    </ul>

    <ul class="sidebar-menu" ng-switch="isAuthenticated()">
        <li class="treeview" id="account">
            <a href="#" ng-click="setActive('account')">
                <i class="fa fa-dashboard"></i> <span translate="global.menu.account.main">ACCOUNT</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
	           <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
               <!--
               	 <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-lock"></span>
                   &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
               -->
               <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-cloud"></span>
                   &#xA0;<span translate="global.menu.account.sessions">Sessions</span></a></li>
               <!--
                <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                   &#xA0;<span translate="global.menu.account.logout">Sign out</span></a></li>
                -->
               <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>
                   &#xA0;<span translate="global.menu.account.login">Sign in</span></a></li>
               <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-plus-sign"></span>
                   &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
          </ul>
        </li>
    </ul>

   <!-- <ul class="sidebar-menu">
        <li class="treeview" id="dashboard">
       		<a ng-click="setActive('dashboard')">
               	<i class="fa fa-dashboard"></i> <span>共修管理</span> <i class="fa fa-angle-left pull-right"></i>
           	</a>
            <ul class="treeview-menu">
                <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>共修活动</span></a></li>
            </ul>
        </li>
    </ul>-->
    <!--<ul class="sidebar-menu">
        <li class="treeview" id="dashboard2">
       		<a ng-click="setActive('dashboard2')">
               	<i class="fa fa-dashboard"></i> <span>回向管理</span> <i class="fa fa-angle-left pull-right"></i>
           	</a>
            <ul class="treeview-menu">
                <li ><a ui-sref="feedback-record" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>回向记录</span></a></li>
            </ul>

            <ul class="treeview-menu">
                <li ><a ui-sref="feedback-record" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>回向记录</span></a></li>
            </ul>

        <li ui-sref-active="active"><a ui-sref="tracker" data-toggle="collapse" ng-click="setMenuToActive()" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-eye-open"></span>
            &nbsp;<span translate="global.menu.admin.tracker">User tracker</span></a></li>
        </li>

    </ul>-->

        <ul class="sidebar-menu">
            <li class="treeview" id="system">
                <a ng-click="setActive('system')">
                    <i class="fa fa-dashboard"></i> <span>系统管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>功能菜单维护</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>角色设置</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>数据权限设置</span></a></li>
                </ul>

                <ul class="treeview-menu">
                    <li ><a ui-sref="company" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span data-translate="global.menu.entities.company">单位设置</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="user-info" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span data-translate="global.menu.entities.userInfo">User Info</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="project" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span data-translate="global.menu.entities.project">项目设置</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="project-area" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span data-translate="global.menu.entities.projectArea">Project Area</span></a></li>
                </ul>

                <ul class="treeview-menu">
                    <li ><a ui-sref="biz" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span data-translate="global.menu.entities.biz">Biz</span></a></li>
                </ul>

                <ul class="treeview-menu">
                    <li ><a ui-sref="biz-auth" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span data-translate="global.menu.entities.bizAuth">Biz Auth</span></a></li>
                </ul>

                <ul class="treeview-menu">
                    <li ><a ui-sref="role" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span data-translate="global.menu.entities.role">Role</span></a></li>
                </ul>

            </li>
        </ul>

        <ul class="sidebar-menu">
            <li class="treeview" id="employee">
                <a ng-click="setActive('employee')">
                    <i class="fa fa-dashboard"></i> <span>人员管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ><a ui-sref="project-welder" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span data-translate="global.menu.entities.projectWelder">Project Welder</span></a></li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-menu">
            <li class="treeview" id="testaa">
                <a  ng-click="setActive('testaa')">
                    <i class="fa fa-share"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>

                    <li class="treeview menu-open">
                        <a href="#"><i class="fa fa-circle-o"></i> Level One<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span> </a>
                        <ul class="treeview-menu" style="display: block;">
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Level Two</a>
                            </li>
                            <li class="treeview menu-open">

                                <a href="#"><i class="fa fa-circle-o"></i> Level Two
                                    <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                                </a>
                                <ul class="treeview-menu" style="display: block;">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-menu">
            <li class="treeview" id="pipe">
                <a ng-click="setActive('pipe')">
                    <i class="fa fa-dashboard"></i> <span>焊道管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>焊撞工艺规程</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>焊接施工记录</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>无损检测委托</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>检查结果</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>试压包管理</span></a></li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-menu">
            <li class="treeview" id="base">
                <a ng-click="setActive('base')">
                    <i class="fa fa-dashboard"></i> <span>基础数据管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>抽检比例</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>抽检规则</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>等级材质对照</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>管线壁厚设计</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>初始化管线设置</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>等级材质对照</span></a></li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-menu">
            <li class="treeview" id="ss">
                <a ng-click="setActive('ss')">
                    <i class="fa fa-dashboard"></i> <span>材料管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>材料基础库管理</span></a></li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-menu">
            <li class="treeview" id="report">
                <a ng-click="setActive('report')">
                    <i class="fa fa-dashboard"></i> <span>查询统计</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>工程进度统计</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>射线检测确认</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>焊接情况</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>焊工一次合格率</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>焊接日报表</span></a></li>
                </ul>
                <ul class="treeview-menu">
                    <li ><a ui-sref="event" ng-click="setMenuToActive()"><i class="fa fa-circle-o"></i><span>综合查询</span></a></li>
                </ul>
            </li>
        </ul>






    <ul class="sidebar-menu" ng-switch="isAuthenticated()">
        <li class="treeview" id="newsManagement">
            <a  ng-click="setActive('newsManagement')">
                <i class="fa-dashboard"></i> <span>业务菜单未分类</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="entity">
                <li ng-switch-when="true"> <a ui-sref="company" ng-click="setMenuToActive()" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-cloud"></span>&#xA0;<span data-translate="global.menu.entities.company">Company</span></a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="company" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.company">Company</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="project" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.project">Project</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pp-grade-materail" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ppGradeMaterail">Pp Grade Materail</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pp-iinspection-tatio" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ppIinspectionTatio">Pp Iinspection Tatio</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pp-inspection-rule" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ppInspectionRule">Pp Inspection Rule</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pp-line" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ppLine">Pp Line</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pp-line-drawing" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ppLineDrawing">Pp Line Drawing</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pp-line-weld" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ppLineWeld">Pp Line Weld</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pp-line-weld-check" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ppLineWeldCheck">Pp Line Weld Check</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pp-line-weld-entrust" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ppLineWeldEntrust">Pp Line Weld Entrust</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pp-line-weld-material" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ppLineWeldMaterial">Pp Line Weld Material</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pp-thickness" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ppThickness">Pp Thickness</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="project-area" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.projectArea">Project Area</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="project-material" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.projectMaterial">Project Material</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="project-spec" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.projectSpec">Project Spec</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="project-sub-constractor" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.projectSubConstractor">Project Sub Constractor</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="project-user" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.projectUser">Project User</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="project-welder" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.projectWelder">Project Welder</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="user-area" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.userArea">User Area</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="user-info" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.userInfo">User Info</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="user-power" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.userPower">User Power</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="welder" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.welder">Welder</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="welder-skill" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.welderSkill">Welder Skill</span>
                    </a>
                </li>
            </ul>
        </li>



    </ul>



   <!--  <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview" id="dashboard2">
          <a  ng-click="setActive('dashboard2')">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
          </ul>
        </li>
        <li class="treeview" id="layoutOptions">
          <a  ng-click="setActive('layoutOptions')">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
        </li>
        <li class="treeview" id="charts">
          <a  ng-click="setActive('charts')">
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
          </ul>
        </li>
        <li class="treeview" id="uiElements">
          <a  ng-click="setActive('uiElements')">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
            <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
            <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
            <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
            <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
            <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
          </ul>
        </li>
        <li class="treeview" id="forms">
          <a  ng-click="setActive('forms')">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
            <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
          </ul>
        </li>
        <li class="treeview" id="tables">
          <a  ng-click="setActive('tables')">
            <i class="fa fa-table"></i> <span>Tables</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
            <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/calendar.html">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        <li class="treeview" id="examples">
          <a  ng-click="setActive('examples')">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
            <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
            <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
            <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
            <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
            <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
            <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
            <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
            <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
          </ul>
        </li>
        <li class="treeview" id="multilevel">
          <a  ng-click="setActive('multilevel')">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a ><i class="fa fa-circle-o"></i> Level One</a></li>
            <li class="treeview" id="levelOne">
              <a  ng-click="setActive('levelOne')"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a ><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                  <a ><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a ><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a ><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a ><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a ><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a ><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a ><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
      </ul> -->
    </section>
</aside>
