<div>
    <h2 data-translate="pcmsApp.projectSpec.home.title">Project Specs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="project-spec.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="pcmsApp.projectSpec.home.createLabel">
                        Create new Project Spec
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projId"><span data-translate="pcmsApp.projectSpec.projId">Proj Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="pcmsApp.projectSpec.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="size"><span data-translate="pcmsApp.projectSpec.size">Size</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unit"><span data-translate="pcmsApp.projectSpec.unit">Unit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span data-translate="pcmsApp.projectSpec.remark">Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span data-translate="pcmsApp.projectSpec.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="delFlag"><span data-translate="pcmsApp.projectSpec.delFlag">Del Flag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectSpec in vm.projectSpecs track by projectSpec.id">
                    <td><a ui-sref="project-spec-detail({id:projectSpec.id})">{{projectSpec.id}}</a></td>
                    <td>{{projectSpec.projId}}</td>
                    <td>{{projectSpec.name}}</td>
                    <td>{{projectSpec.size}}</td>
                    <td>{{projectSpec.unit}}</td>
                    <td>{{projectSpec.remark}}</td>
                    <td>{{projectSpec.createTime | date:'medium'}}</td>
                    <td>{{projectSpec.delFlag}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="project-spec-detail({id:projectSpec.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project-spec.edit({id:projectSpec.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project-spec.delete({id:projectSpec.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
