<div>
    <h2 data-translate="pcmsApp.ppThickness.home.title">Pp Thicknesses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pp-thickness.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="pcmsApp.ppThickness.home.createLabel">
                        Create new Pp Thickness
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="compId"><span data-translate="pcmsApp.ppThickness.compId">Comp Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projId"><span data-translate="pcmsApp.ppThickness.projId">Proj Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jsize"><span data-translate="pcmsApp.ppThickness.jsize">Jsize</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wallThickCode"><span data-translate="pcmsApp.ppThickness.wallThickCode">Wall Thick Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="externalDiameter"><span data-translate="pcmsApp.ppThickness.externalDiameter">External Diameter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="thickness"><span data-translate="pcmsApp.ppThickness.thickness">Thickness</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span data-translate="pcmsApp.ppThickness.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="delFlag"><span data-translate="pcmsApp.ppThickness.delFlag">Del Flag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ppThickness in vm.ppThicknesses track by ppThickness.id">
                    <td><a ui-sref="pp-thickness-detail({id:ppThickness.id})">{{ppThickness.id}}</a></td>
                    <td>{{ppThickness.compId}}</td>
                    <td>{{ppThickness.projId}}</td>
                    <td>{{ppThickness.jsize}}</td>
                    <td>{{ppThickness.wallThickCode}}</td>
                    <td>{{ppThickness.externalDiameter}}</td>
                    <td>{{ppThickness.thickness}}</td>
                    <td>{{ppThickness.createTime | date:'medium'}}</td>
                    <td>{{ppThickness.delFlag}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pp-thickness-detail({id:ppThickness.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pp-thickness.edit({id:ppThickness.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pp-thickness.delete({id:ppThickness.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
