<div>
    <h2 data-translate="tuxAdminApp.userInfo.home.title">User Infos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-info.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tuxAdminApp.userInfo.home.createLabel">
                        Create new User Info
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="compId"><span data-translate="tuxAdminApp.userInfo.compId">Comp Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span data-translate="tuxAdminApp.userInfo.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mobile"><span data-translate="tuxAdminApp.userInfo.mobile">Mobile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="tuxAdminApp.userInfo.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobTitle"><span data-translate="tuxAdminApp.userInfo.jobTitle">Job Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="major"><span data-translate="tuxAdminApp.userInfo.major">Major</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jhUserId"><span data-translate="tuxAdminApp.userInfo.jhUserId">Jh User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userInfo in vm.userInfos track by userInfo.id">
                    <td><a ui-sref="user-info-detail({id:userInfo.id})">{{userInfo.id}}</a></td>
                    <td>{{userInfo.compId}}</td>
                    <td>{{userInfo.code}}</td>
                    <td>{{userInfo.mobile}}</td>
                    <td>{{userInfo.status}}</td>
                    <td>{{userInfo.jobTitle}}</td>
                    <td>{{userInfo.major}}</td>
                    <td>{{userInfo.jhUserId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-info-detail({id:userInfo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-info.edit({id:userInfo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-info.delete({id:userInfo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
