<div>
    <h2 data-translate="pcmsApp.ppIinspectionTatio.home.title">Pp Iinspection Tatios</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pp-iinspection-tatio.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="pcmsApp.ppIinspectionTatio.home.createLabel">
                        Create new Pp Iinspection Tatio
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="compId"><span data-translate="pcmsApp.ppIinspectionTatio.compId">Comp Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projId"><span data-translate="pcmsApp.ppIinspectionTatio.projId">Proj Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inspectionCode"><span data-translate="pcmsApp.ppIinspectionTatio.inspectionCode">Inspection Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rtRate"><span data-translate="pcmsApp.ppIinspectionTatio.rtRate">Rt Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rtRateGd"><span data-translate="pcmsApp.ppIinspectionTatio.rtRateGd">Rt Rate Gd</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rtStandard"><span data-translate="pcmsApp.ppIinspectionTatio.rtStandard">Rt Standard</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rtGrade"><span data-translate="pcmsApp.ppIinspectionTatio.rtGrade">Rt Grade</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ptRate"><span data-translate="pcmsApp.ppIinspectionTatio.ptRate">Pt Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ptStandard"><span data-translate="pcmsApp.ppIinspectionTatio.ptStandard">Pt Standard</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ptGrade"><span data-translate="pcmsApp.ppIinspectionTatio.ptGrade">Pt Grade</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="utRate"><span data-translate="pcmsApp.ppIinspectionTatio.utRate">Ut Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="utStandard"><span data-translate="pcmsApp.ppIinspectionTatio.utStandard">Ut Standard</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="utGrade"><span data-translate="pcmsApp.ppIinspectionTatio.utGrade">Ut Grade</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mtRate"><span data-translate="pcmsApp.ppIinspectionTatio.mtRate">Mt Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mtStandard"><span data-translate="pcmsApp.ppIinspectionTatio.mtStandard">Mt Standard</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mtGrade"><span data-translate="pcmsApp.ppIinspectionTatio.mtGrade">Mt Grade</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span data-translate="pcmsApp.ppIinspectionTatio.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="delFlag"><span data-translate="pcmsApp.ppIinspectionTatio.delFlag">Del Flag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ppIinspectionTatio in vm.ppIinspectionTatios track by ppIinspectionTatio.id">
                    <td><a ui-sref="pp-iinspection-tatio-detail({id:ppIinspectionTatio.id})">{{ppIinspectionTatio.id}}</a></td>
                    <td>{{ppIinspectionTatio.compId}}</td>
                    <td>{{ppIinspectionTatio.projId}}</td>
                    <td>{{ppIinspectionTatio.inspectionCode}}</td>
                    <td>{{ppIinspectionTatio.rtRate}}</td>
                    <td>{{ppIinspectionTatio.rtRateGd}}</td>
                    <td>{{ppIinspectionTatio.rtStandard}}</td>
                    <td>{{ppIinspectionTatio.rtGrade}}</td>
                    <td>{{ppIinspectionTatio.ptRate}}</td>
                    <td>{{ppIinspectionTatio.ptStandard}}</td>
                    <td>{{ppIinspectionTatio.ptGrade}}</td>
                    <td>{{ppIinspectionTatio.utRate}}</td>
                    <td>{{ppIinspectionTatio.utStandard}}</td>
                    <td>{{ppIinspectionTatio.utGrade}}</td>
                    <td>{{ppIinspectionTatio.mtRate}}</td>
                    <td>{{ppIinspectionTatio.mtStandard}}</td>
                    <td>{{ppIinspectionTatio.mtGrade}}</td>
                    <td>{{ppIinspectionTatio.createTime | date:'medium'}}</td>
                    <td>{{ppIinspectionTatio.delFlag}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pp-iinspection-tatio-detail({id:ppIinspectionTatio.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pp-iinspection-tatio.edit({id:ppIinspectionTatio.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pp-iinspection-tatio.delete({id:ppIinspectionTatio.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
