
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectLabel" data-translate="tuxAdminApp.project.home.createOrEditLabel">Create or edit a Project</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.project.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.project.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.projCompId" for="field_projCompId">Proj Comp Id</label>
            <input type="number" class="form-control" name="projCompId" id="field_projCompId"
                    ng-model="vm.project.projCompId"
                    required min="0" max="19"/>
            <div ng-show="editForm.projCompId.$invalid">
                <p class="help-block"
                    ng-show="editForm.projCompId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.projCompId.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.projCompId.$error.max" data-translate="entity.validation.max" translate-value-max="19">
                    This field cannot be more than 19.
                </p>
                <p class="help-block"
                    ng-show="editForm.projCompId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.projCompName" for="field_projCompName">Proj Comp Name</label>
            <input type="text" class="form-control" name="projCompName" id="field_projCompName"
                    ng-model="vm.project.projCompName"
                    required ng-minlength="0" ng-maxlength="128"/>
            <div ng-show="editForm.projCompName.$invalid">
                <p class="help-block"
                    ng-show="editForm.projCompName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.projCompName.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.projCompName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="128">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.project.code"
                    required ng-minlength="0" ng-maxlength="20"/>
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.project.name"
                    ng-minlength="0" ng-maxlength="80"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="80">
                    This field cannot be longer than 80 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.enName" for="field_enName">En Name</label>
            <input type="text" class="form-control" name="enName" id="field_enName"
                    ng-model="vm.project.enName"
                    ng-minlength="0" ng-maxlength="32"/>
            <div ng-show="editForm.enName.$invalid">
                <p class="help-block"
                    ng-show="editForm.enName.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.enName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.supervisor" for="field_supervisor">Supervisor</label>
            <input type="text" class="form-control" name="supervisor" id="field_supervisor"
                    ng-model="vm.project.supervisor"
                    ng-minlength="0" ng-maxlength="100"/>
            <div ng-show="editForm.supervisor.$invalid">
                <p class="help-block"
                    ng-show="editForm.supervisor.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.supervisor.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.ownerContractor" for="field_ownerContractor">Owner Contractor</label>
            <input type="text" class="form-control" name="ownerContractor" id="field_ownerContractor"
                    ng-model="vm.project.ownerContractor"
                    ng-minlength="0" ng-maxlength="100"/>
            <div ng-show="editForm.ownerContractor.$invalid">
                <p class="help-block"
                    ng-show="editForm.ownerContractor.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.ownerContractor.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.totalContractor" for="field_totalContractor">Total Contractor</label>
            <input type="text" class="form-control" name="totalContractor" id="field_totalContractor"
                    ng-model="vm.project.totalContractor"
                    ng-minlength="0" ng-maxlength="100"/>
            <div ng-show="editForm.totalContractor.$invalid">
                <p class="help-block"
                    ng-show="editForm.totalContractor.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.totalContractor.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.project.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.project.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.project.status"
                    min="0" max="10"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.max" data-translate="entity.validation.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.delFlag" for="field_delFlag">Del Flag</label>
            <input type="number" class="form-control" name="delFlag" id="field_delFlag"
                    ng-model="vm.project.delFlag"
                    min="0" max="10"/>
            <div ng-show="editForm.delFlag.$invalid">
                <p class="help-block"
                    ng-show="editForm.delFlag.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.delFlag.$error.max" data-translate="entity.validation.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.delFlag.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.project.remark"
                    ng-minlength="0" ng-maxlength="500"/>
            <div ng-show="editForm.remark.$invalid">
                <p class="help-block"
                    ng-show="editForm.remark.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.remark.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="500">
                    This field cannot be longer than 500 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.project.extendAttr" for="field_extendAttr">Extend Attr</label>
            <input type="text" class="form-control" name="extendAttr" id="field_extendAttr"
                    ng-model="vm.project.extendAttr"
                    ng-minlength="0" ng-maxlength="50"/>
            <div ng-show="editForm.extendAttr.$invalid">
                <p class="help-block"
                    ng-show="editForm.extendAttr.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.extendAttr.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
