<div>
    <h2 data-translate="tuxAdminApp.project.home.title">Projects</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="project.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tuxAdminApp.project.home.createLabel">
                        Create new Project
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span data-translate="tuxAdminApp.project.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="tuxAdminApp.project.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enName"><span data-translate="tuxAdminApp.project.enName">En Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supervisor"><span data-translate="tuxAdminApp.project.supervisor">Supervisor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ownerContractor"><span data-translate="tuxAdminApp.project.ownerContractor">Owner Contractor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalContractor"><span data-translate="tuxAdminApp.project.totalContractor">Total Contractor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span data-translate="tuxAdminApp.project.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span data-translate="tuxAdminApp.project.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="tuxAdminApp.project.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="delFlag"><span data-translate="tuxAdminApp.project.delFlag">Del Flag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span data-translate="tuxAdminApp.project.remark">Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="extendAttr"><span data-translate="tuxAdminApp.project.extendAttr">Extend Attr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in vm.projects track by project.id">
                    <td><a ui-sref="project-detail({id:project.id})">{{project.id}}</a></td>
                    <td>{{project.code}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.enName}}</td>
                    <td>{{project.supervisor}}</td>
                    <td>{{project.ownerContractor}}</td>
                    <td>{{project.totalContractor}}</td>
                    <td>{{project.startDate | date:'medium'}}</td>
                    <td>{{project.endDate | date:'medium'}}</td>
                    <td>{{project.status}}</td>
                    <td>{{project.delFlag}}</td>
                    <td>{{project.remark}}</td>
                    <td>{{project.extendAttr}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="project-detail({id:project.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project.edit({id:project.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project.delete({id:project.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
