
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCompanyLabel" data-translate="tuxAdminApp.company.home.createOrEditLabel">Create or edit a Company</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.company.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.company.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.company.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                    ng-model="vm.company.category"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.legalPerson" for="field_legalPerson">Legal Person</label>
            <input type="text" class="form-control" name="legalPerson" id="field_legalPerson"
                    ng-model="vm.company.legalPerson"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.company.address"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.province" for="field_province">Province</label>
            <input type="text" class="form-control" name="province" id="field_province"
                    ng-model="vm.company.province"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.company.city"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.area" for="field_area">Area</label>
            <input type="text" class="form-control" name="area" id="field_area"
                    ng-model="vm.company.area"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.mobile" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                    ng-model="vm.company.mobile"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.company.status"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.delFlag" for="field_delFlag">Del Flag</label>
            <input type="text" class="form-control" name="delFlag" id="field_delFlag"
                    ng-model="vm.company.delFlag"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.createdTime" for="field_createdTime">Created Time</label>
                <div class="input-group">
                    <input id="field_createdTime" type="text" class="form-control" name="createdTime" datetime-picker="{{dateformat}}" ng-model="vm.company.createdTime" is-open="vm.datePickerOpenStatus.createdTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.createdBy" for="field_createdBy">Created By</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.company.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.updateTime" for="field_updateTime">Update Time</label>
                <div class="input-group">
                    <input id="field_updateTime" type="text" class="form-control" name="updateTime" datetime-picker="{{dateformat}}" ng-model="vm.company.updateTime" is-open="vm.datePickerOpenStatus.updateTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updateTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.company.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.company.remark"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
