<div>
    <h2 data-translate="tuxAdminApp.ppLineWeldCheck.home.title">Pp Line Weld Checks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pp-line-weld-check.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tuxAdminApp.ppLineWeldCheck.home.createLabel">
                        Create new Pp Line Weld Check
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projId"><span data-translate="tuxAdminApp.ppLineWeldCheck.projId">Proj Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pipeId"><span data-translate="tuxAdminApp.ppLineWeldCheck.pipeId">Pipe Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jointId"><span data-translate="tuxAdminApp.ppLineWeldCheck.jointId">Joint Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rtfilmTotal"><span data-translate="tuxAdminApp.ppLineWeldCheck.rtfilmTotal">Rtfilm Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rtfilmPassTotal"><span data-translate="tuxAdminApp.ppLineWeldCheck.rtfilmPassTotal">Rtfilm Pass Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reportCode"><span data-translate="tuxAdminApp.ppLineWeldCheck.reportCode">Report Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="checkDate"><span data-translate="tuxAdminApp.ppLineWeldCheck.checkDate">Check Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="checkResult"><span data-translate="tuxAdminApp.ppLineWeldCheck.checkResult">Check Result</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reworkCode"><span data-translate="tuxAdminApp.ppLineWeldCheck.reworkCode">Rework Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reworkWelder"><span data-translate="tuxAdminApp.ppLineWeldCheck.reworkWelder">Rework Welder</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reworkDate"><span data-translate="tuxAdminApp.ppLineWeldCheck.reworkDate">Rework Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reworkResult"><span data-translate="tuxAdminApp.ppLineWeldCheck.reworkResult">Rework Result</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="repairReport"><span data-translate="tuxAdminApp.ppLineWeldCheck.repairReport">Repair Report</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span data-translate="tuxAdminApp.ppLineWeldCheck.remark">Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span data-translate="tuxAdminApp.ppLineWeldCheck.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="delFlag"><span data-translate="tuxAdminApp.ppLineWeldCheck.delFlag">Del Flag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ppLineWeldCheck in vm.ppLineWeldChecks track by ppLineWeldCheck.id">
                    <td><a ui-sref="pp-line-weld-check-detail({id:ppLineWeldCheck.id})">{{ppLineWeldCheck.id}}</a></td>
                    <td>{{ppLineWeldCheck.projId}}</td>
                    <td>{{ppLineWeldCheck.pipeId}}</td>
                    <td>{{ppLineWeldCheck.jointId}}</td>
                    <td>{{ppLineWeldCheck.rtfilmTotal}}</td>
                    <td>{{ppLineWeldCheck.rtfilmPassTotal}}</td>
                    <td>{{ppLineWeldCheck.reportCode}}</td>
                    <td>{{ppLineWeldCheck.checkDate}}</td>
                    <td>{{ppLineWeldCheck.checkResult}}</td>
                    <td>{{ppLineWeldCheck.reworkCode}}</td>
                    <td>{{ppLineWeldCheck.reworkWelder}}</td>
                    <td>{{ppLineWeldCheck.reworkDate | date:'medium'}}</td>
                    <td>{{ppLineWeldCheck.reworkResult}}</td>
                    <td>{{ppLineWeldCheck.repairReport}}</td>
                    <td>{{ppLineWeldCheck.remark}}</td>
                    <td>{{ppLineWeldCheck.createTime | date:'medium'}}</td>
                    <td>{{ppLineWeldCheck.delFlag}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pp-line-weld-check-detail({id:ppLineWeldCheck.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pp-line-weld-check.edit({id:ppLineWeldCheck.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pp-line-weld-check.delete({id:ppLineWeldCheck.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
