
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPpLineWeldCheckLabel" data-translate="pcmsApp.ppLineWeldCheck.home.createOrEditLabel">Create or edit a Pp Line Weld Check</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ppLineWeldCheck.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ppLineWeldCheck.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.projId" for="field_projId">Proj Id</label>
            <input type="text" class="form-control" name="projId" id="field_projId"
                    ng-model="vm.ppLineWeldCheck.projId"
                    required ng-minlength="0" ng-maxlength="19"/>
            <div ng-show="editForm.projId.$invalid">
                <p class="help-block"
                    ng-show="editForm.projId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.projId.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.projId.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="19">
                    This field cannot be longer than 19 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.pipeId" for="field_pipeId">Pipe Id</label>
            <input type="text" class="form-control" name="pipeId" id="field_pipeId"
                    ng-model="vm.ppLineWeldCheck.pipeId"
                    required ng-minlength="0" ng-maxlength="19"/>
            <div ng-show="editForm.pipeId.$invalid">
                <p class="help-block"
                    ng-show="editForm.pipeId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.pipeId.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.pipeId.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="19">
                    This field cannot be longer than 19 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.jointId" for="field_jointId">Joint Id</label>
            <input type="text" class="form-control" name="jointId" id="field_jointId"
                    ng-model="vm.ppLineWeldCheck.jointId"
                    ng-minlength="0" ng-maxlength="19"/>
            <div ng-show="editForm.jointId.$invalid">
                <p class="help-block"
                    ng-show="editForm.jointId.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.jointId.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="19">
                    This field cannot be longer than 19 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.rtfilmTotal" for="field_rtfilmTotal">Rtfilm Total</label>
            <input type="number" class="form-control" name="rtfilmTotal" id="field_rtfilmTotal"
                    ng-model="vm.ppLineWeldCheck.rtfilmTotal"
                    min="0" max="10"/>
            <div ng-show="editForm.rtfilmTotal.$invalid">
                <p class="help-block"
                    ng-show="editForm.rtfilmTotal.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.rtfilmTotal.$error.max" data-translate="entity.validation.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.rtfilmTotal.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.rtfilmPassTotal" for="field_rtfilmPassTotal">Rtfilm Pass Total</label>
            <input type="number" class="form-control" name="rtfilmPassTotal" id="field_rtfilmPassTotal"
                    ng-model="vm.ppLineWeldCheck.rtfilmPassTotal"
                    min="0" max="10"/>
            <div ng-show="editForm.rtfilmPassTotal.$invalid">
                <p class="help-block"
                    ng-show="editForm.rtfilmPassTotal.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.rtfilmPassTotal.$error.max" data-translate="entity.validation.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.rtfilmPassTotal.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.reportCode" for="field_reportCode">Report Code</label>
            <input type="text" class="form-control" name="reportCode" id="field_reportCode"
                    ng-model="vm.ppLineWeldCheck.reportCode"
                    ng-minlength="0" ng-maxlength="16"/>
            <div ng-show="editForm.reportCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.reportCode.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.reportCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="16">
                    This field cannot be longer than 16 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.checkDate" for="field_checkDate">Check Date</label>
            <input type="text" class="form-control" name="checkDate" id="field_checkDate"
                    ng-model="vm.ppLineWeldCheck.checkDate"
                    ng-minlength="0" ng-maxlength="16"/>
            <div ng-show="editForm.checkDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.checkDate.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.checkDate.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="16">
                    This field cannot be longer than 16 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.checkResult" for="field_checkResult">Check Result</label>
            <input type="text" class="form-control" name="checkResult" id="field_checkResult"
                    ng-model="vm.ppLineWeldCheck.checkResult"
                    ng-minlength="0" ng-maxlength="16"/>
            <div ng-show="editForm.checkResult.$invalid">
                <p class="help-block"
                    ng-show="editForm.checkResult.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.checkResult.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="16">
                    This field cannot be longer than 16 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.reworkCode" for="field_reworkCode">Rework Code</label>
            <input type="text" class="form-control" name="reworkCode" id="field_reworkCode"
                    ng-model="vm.ppLineWeldCheck.reworkCode"
                    ng-minlength="0" ng-maxlength="50"/>
            <div ng-show="editForm.reworkCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.reworkCode.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.reworkCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.reworkWelder" for="field_reworkWelder">Rework Welder</label>
            <input type="text" class="form-control" name="reworkWelder" id="field_reworkWelder"
                    ng-model="vm.ppLineWeldCheck.reworkWelder"
                    ng-minlength="0" ng-maxlength="50"/>
            <div ng-show="editForm.reworkWelder.$invalid">
                <p class="help-block"
                    ng-show="editForm.reworkWelder.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.reworkWelder.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.reworkDate" for="field_reworkDate">Rework Date</label>
                <div class="input-group">
                    <input id="field_reworkDate" type="text" class="form-control" name="reworkDate" datetime-picker="{{dateformat}}" ng-model="vm.ppLineWeldCheck.reworkDate" is-open="vm.datePickerOpenStatus.reworkDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('reworkDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.reworkResult" for="field_reworkResult">Rework Result</label>
            <input type="text" class="form-control" name="reworkResult" id="field_reworkResult"
                    ng-model="vm.ppLineWeldCheck.reworkResult"
                    ng-minlength="0" ng-maxlength="50"/>
            <div ng-show="editForm.reworkResult.$invalid">
                <p class="help-block"
                    ng-show="editForm.reworkResult.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.reworkResult.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.repairReport" for="field_repairReport">Repair Report</label>
            <input type="text" class="form-control" name="repairReport" id="field_repairReport"
                    ng-model="vm.ppLineWeldCheck.repairReport"
                    ng-minlength="0" ng-maxlength="50"/>
            <div ng-show="editForm.repairReport.$invalid">
                <p class="help-block"
                    ng-show="editForm.repairReport.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.repairReport.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.ppLineWeldCheck.remark"
                    ng-minlength="0" ng-maxlength="500"/>
            <div ng-show="editForm.remark.$invalid">
                <p class="help-block"
                    ng-show="editForm.remark.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.remark.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="500">
                    This field cannot be longer than 500 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.createTime" for="field_createTime">Create Time</label>
                <div class="input-group">
                    <input id="field_createTime" type="text" class="form-control" name="createTime" datetime-picker="{{dateformat}}" ng-model="vm.ppLineWeldCheck.createTime" is-open="vm.datePickerOpenStatus.createTime"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.createTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.createTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createTime.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcmsApp.ppLineWeldCheck.delFlag" for="field_delFlag">Del Flag</label>
            <input type="number" class="form-control" name="delFlag" id="field_delFlag"
                    ng-model="vm.ppLineWeldCheck.delFlag"
                    min="0" max="10"/>
            <div ng-show="editForm.delFlag.$invalid">
                <p class="help-block"
                    ng-show="editForm.delFlag.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.delFlag.$error.max" data-translate="entity.validation.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.delFlag.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
