
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPpLineDrawingLabel" data-translate="tuxAdminApp.ppLineDrawing.home.createOrEditLabel">Create or edit a Pp Line Drawing</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ppLineDrawing.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ppLineDrawing.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.ppLineDrawing.pipeId" for="field_pipeId">Pipe Id</label>
            <input type="text" class="form-control" name="pipeId" id="field_pipeId"
                    ng-model="vm.ppLineDrawing.pipeId"
                    required ng-minlength="0" ng-maxlength="19"/>
            <div ng-show="editForm.pipeId.$invalid">
                <p class="help-block"
                    ng-show="editForm.pipeId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.pipeId.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.pipeId.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="19">
                    This field cannot be longer than 19 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.ppLineDrawing.pageCode" for="field_pageCode">Page Code</label>
            <input type="number" class="form-control" name="pageCode" id="field_pageCode"
                    ng-model="vm.ppLineDrawing.pageCode"
                    min="0" max="10"/>
            <div ng-show="editForm.pageCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.pageCode.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.pageCode.$error.max" data-translate="entity.validation.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.pageCode.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.ppLineDrawing.versionCode" for="field_versionCode">Version Code</label>
            <input type="text" class="form-control" name="versionCode" id="field_versionCode"
                    ng-model="vm.ppLineDrawing.versionCode"
                    ng-minlength="0" ng-maxlength="50"/>
            <div ng-show="editForm.versionCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.versionCode.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.versionCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.ppLineDrawing.alterationCode" for="field_alterationCode">Alteration Code</label>
            <input type="text" class="form-control" name="alterationCode" id="field_alterationCode"
                    ng-model="vm.ppLineDrawing.alterationCode"
                    ng-minlength="0" ng-maxlength="50"/>
            <div ng-show="editForm.alterationCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.alterationCode.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.alterationCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.ppLineDrawing.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.ppLineDrawing.name"
                    ng-minlength="0" ng-maxlength="50"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.ppLineDrawing.filePath" for="field_filePath">File Path</label>
            <input type="text" class="form-control" name="filePath" id="field_filePath"
                    ng-model="vm.ppLineDrawing.filePath"
                    ng-minlength="0" ng-maxlength="200"/>
            <div ng-show="editForm.filePath.$invalid">
                <p class="help-block"
                    ng-show="editForm.filePath.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.filePath.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.ppLineDrawing.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.ppLineDrawing.remark"
                    ng-minlength="0" ng-maxlength="500"/>
            <div ng-show="editForm.remark.$invalid">
                <p class="help-block"
                    ng-show="editForm.remark.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.remark.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="500">
                    This field cannot be longer than 500 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.ppLineDrawing.createTime" for="field_createTime">Create Time</label>
                <div class="input-group">
                    <input id="field_createTime" type="text" class="form-control" name="createTime" datetime-picker="{{dateformat}}" ng-model="vm.ppLineDrawing.createTime" is-open="vm.datePickerOpenStatus.createTime"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.createTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.createTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createTime.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.ppLineDrawing.delFlag" for="field_delFlag">Del Flag</label>
            <input type="number" class="form-control" name="delFlag" id="field_delFlag"
                    ng-model="vm.ppLineDrawing.delFlag"
                    min="0" max="10"/>
            <div ng-show="editForm.delFlag.$invalid">
                <p class="help-block"
                    ng-show="editForm.delFlag.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.delFlag.$error.max" data-translate="entity.validation.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.delFlag.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
