<div>
    <h2 data-translate="tuxAdminApp.bizAuth.home.title">Biz Auths</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="biz-auth.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tuxAdminApp.bizAuth.home.createLabel">
                        Create new Biz Auth
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bizName"><span data-translate="tuxAdminApp.bizAuth.bizName">Biz Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="roleCode"><span data-translate="tuxAdminApp.bizAuth.roleCode">Role Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minAuthCode"><span data-translate="tuxAdminApp.bizAuth.minAuthCode">Min Auth Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxAuthCode"><span data-translate="tuxAdminApp.bizAuth.maxAuthCode">Max Auth Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="authCode"><span data-translate="tuxAdminApp.bizAuth.authCode">Auth Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="authCategory"><span data-translate="tuxAdminApp.bizAuth.authCategory">Auth Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span data-translate="tuxAdminApp.bizAuth.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="tuxAdminApp.bizAuth.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedBy"><span data-translate="tuxAdminApp.bizAuth.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedDate"><span data-translate="tuxAdminApp.bizAuth.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bizBizName"><span data-translate="tuxAdminApp.bizAuth.biz">Biz</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bizAuth in vm.bizAuths track by bizAuth.id">
                    <td><a ui-sref="biz-auth-detail({id:bizAuth.id})">{{bizAuth.id}}</a></td>
                    <td>{{bizAuth.bizName}}</td>
                    <td>{{bizAuth.roleCode}}</td>
                    <td>{{bizAuth.minAuthCode}}</td>
                    <td>{{bizAuth.maxAuthCode}}</td>
                    <td>{{bizAuth.authCode}}</td>
                    <td>{{bizAuth.authCategory}}</td>
                    <td>{{bizAuth.createdBy}}</td>
                    <td>{{bizAuth.createdDate | date:'medium'}}</td>
                    <td>{{bizAuth.lastModifiedBy}}</td>
                    <td>{{bizAuth.lastModifiedDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="biz-detail({id:bizAuth.bizId})">{{bizAuth.bizBizName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="biz-auth-detail({id:bizAuth.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="biz-auth.edit({id:bizAuth.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="biz-auth.delete({id:bizAuth.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
