<div>
    <h2 data-translate="tuxAdminApp.reportCount.home.title">Report Counts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="report-count.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="tuxAdminApp.reportCount.home.createLabel">
                        Create new Report Count
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'tuxAdminApp.reportCount.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="tuxAdminApp.reportCount.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="personName"><span data-translate="tuxAdminApp.reportCount.personName">Person Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="personMobile"><span data-translate="tuxAdminApp.reportCount.personMobile">Person Mobile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eventId"><span data-translate="tuxAdminApp.reportCount.eventId">Event Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="completeNum"><span data-translate="tuxAdminApp.reportCount.completeNum">Complete Num</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span data-translate="tuxAdminApp.reportCount.remark">Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span data-translate="tuxAdminApp.reportCount.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifyTime"><span data-translate="tuxAdminApp.reportCount.modifyTime">Modify Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reportCount in vm.reportCounts track by reportCount.id">
                    <td><a ui-sref="report-count-detail({id:reportCount.id})">{{reportCount.id}}</a></td>
                    <td>{{reportCount.userId}}</td>
                    <td>{{reportCount.personName}}</td>
                    <td>{{reportCount.personMobile}}</td>
                    <td>{{reportCount.eventId}}</td>
                    <td>{{reportCount.completeNum}}</td>
                    <td>{{reportCount.remark}}</td>
                    <td>{{reportCount.createTime | date:'medium'}}</td>
                    <td>{{reportCount.modifyTime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="report-count-detail({id:reportCount.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="report-count.edit({id:reportCount.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="report-count.delete({id:reportCount.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
