
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRoleLabel" data-translate="tuxAdminApp.role.home.createOrEditLabel">Create or edit a Role</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.role.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.role.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.role.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.role.name"
                    required ng-minlength="0" ng-maxlength="32"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.role.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.role.code"
                    required ng-minlength="0" ng-maxlength="16"/>
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="16">
                    This field cannot be longer than 16 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.role.level" for="field_level">Level</label>
            <input type="number" class="form-control" name="level" id="field_level"
                    ng-model="vm.role.level"
                    required min="0" max="5"/>
            <div ng-show="editForm.level.$invalid">
                <p class="help-block"
                    ng-show="editForm.level.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.max" data-translate="entity.validation.max" translate-value-max="5">
                    This field cannot be more than 5.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tuxAdminApp.role.parentId" for="field_parentId">Parent Id</label>
            <input type="number" class="form-control" name="parentId" id="field_parentId"
                    ng-model="vm.role.parentId"
                    required min="0" max="19"/>
            <div ng-show="editForm.parentId.$invalid">
                <p class="help-block"
                    ng-show="editForm.parentId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.parentId.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.parentId.$error.max" data-translate="entity.validation.max" translate-value-max="19">
                    This field cannot be more than 19.
                </p>
                <p class="help-block"
                    ng-show="editForm.parentId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="tuxAdminApp.role.bizAuth" for="field_bizAuth">Biz Auth</label>
            <select class="form-control" id="field_bizAuth" name="bizAuth" ng-model="vm.role.bizAuthId" ng-options="bizAuth.id as bizAuth.code for bizAuth in vm.bizauths | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="tuxAdminApp.role.role" for="field_role">Role</label>
            <select class="form-control" id="field_role" name="role" ng-model="vm.role.roleId" ng-options="role.id as role.id for role in vm.roles"            >
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.children.$invalid">
            <p class="help-block"
                ng-show="editForm.children.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
